---
const { id, name, style, list } = Astro.props;
import booksRaw from "@data/bible-rnn/books.txt?raw"
const books = booksRaw.split(/\r?\n/).filter(Boolean);
---

<select id={id} name={name} style={style}>
	<option value="<">(None)</option>
	{books.map(book => <option value={`<${book}>\t`}>{book}</option>)}
</select>